<footer class="bg-dark py-3">
	<div class="container">
		<p class="text-center text-white poppins-bold">
			Débarrasser, récupérer, transformer et redonner vie à des objets de seconde main.
		</p>

		<div class="row my-3 poppins-regular g-4">
			<div class="col-md-7">
				<div class="row g-3 mb-3">
					<div class="col-md-6 col-12">
						<a href="https://www.instagram.com/machinevagabonde/#" class="text-white text-decoration-none">
							<i class="bi bi-instagram text-secondary p-3"></i>Instagram</a>
					</div>
					<div class="col-md-6 col-12">
						<a href="https://t.me/machinevagabonde" class="text-white text-decoration-none">
							<i class="bi bi-telegram text-secondary p-3"></i>Canal
																                  Telegram</a>
					</div>
				</div>
				<div class="row g-3">
					<div class="col-md-6 col-12">
						<a href="mailto:machinevagabonde@email.com" class="text-white text-decoration-none text-nowrap">
							<i class="bi bi-envelope text-secondary p-3"></i>
							<span class="email-text">machinevagabonde@protonmail.com</span>
						</a>
					</div>
					<div class="col-md-6 col-12">
						<a href="tel:+336328955XX" class="text-white text-decoration-none">
							<i class="bi bi-telephone text-secondary p-3"></i>06 32 89 55 XX</a>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-6 d-flex flex-column gap-3">
						<a href="{{ path('home') }}" class="text-white text-decoration-none">Acceuil</a>
						<a href="{{ path('debarrassage') }}" class="text-white text-decoration-none">Débarrassage</a>
						<a href="{{ path('brocante') }}" class="text-white text-decoration-none">Brocante</a>
					</div>
					<div class="col-6 d-flex flex-column gap-3">
						<a href="{{ path('surcyclage') }}" class="text-white text-decoration-none">Surcyclage</a>
						<a href="{{ path('contact') }}" class="text-white text-decoration-none">Contact</a>
					</div>
				</div>
			</div>
		</div>
		<div class="text-white d-flex justify-content-between fs-6">
			<span>
				&copy 2025 machinevagabonde.xyz
			</span>
			<span>
				Site crée par
				<a target="_blank" href="https://github.com/AndrewSmithiesDev" class="text-white text-decoration-none">Andrew Smithies</a>
			</span>
		</div>
	</div>
</footer>
